.user-bg {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.486) 0%,
      rgba(201, 201, 201, 0.06) 100%
    ),
    url("../../assets/img/profilebg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 30vh;
}

.container-user {
  position: relative;
  top: 20vh;
}

.editIconBlack{
  filter: invert(1);
}