.bar-hints {
  position: absolute;
  top: 70px;
  z-index: 1000;
  left: 20px;
}

.search-bar {
  border-bottom: 1px solid #dadce0;
  box-shadow: 0 0 2px rgb(0 0 0/20%), 0 -1px 0 rgb(0 0 0/2%);
  border: none;
}

.search-bar-focused {
  border-radius: 16px 16px 0 0;
}

.search-bar-unfocused {
  border-radius: 16px 16px;
}

.waterpoints-search {
  border-radius: 0 0 16px 16px;
  box-shadow: 0 0 2px rgb(0 0 0/20%), 0 -1px 0 rgb(0 0 0/2%);
  border: none;
}

.text-input:focus{
  box-shadow: none !important; 
}

.hint-div{
  cursor: pointer;
}

.hint-div:hover{
  background-color: rgb(235, 235, 235);
}